@media screen and (max-width: 767px) {
   .menu-button::before,.menu-button::after{
        display: none;
   }
   .material-icons{
        font-size: 35px;
   }
   .menu_container-wrapper, .section-line {
        display: block;
    }
    .menu-button{
        float: right;
        top: 15px;
        right: 15px;
    }
    .mask-slider h2 {
        font-size: 26px;
    }
}